<launch>
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro.py  --inorder  '$(find rover_description)/urdf/rover.xacro'"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="rover_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rover"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
</launch>
